*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: crimson;
}
h1{
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -30%);
    animation: jump 1.8s linear infinite;
    color: #fff;
}
@keyframes jump {
    0%{
        transform: translate(-50%, -30%);
    }
    50%{
        transform: translate(-50%, -20%);
    }
}
button{
    width: 200px;
    height: 200px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.1s linear;
}
button:active{
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
}