*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.banner{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#clock{
    width: 100%;
    height: 45px;
    padding: 5px;
    font-size: 30px;
    background-color: orange;
    color: #fff;
    text-align: center;
}
